.timebar-container  {
    display: block;
}

.timebar-container > .progress {
    margin-bottom: 0;
}

.timebar-container .axis {
    overflow: visible;
    height: 25px;
}
.timebar-container .axis path {
    opacity: 0.5;
}
.timebar-legend {
    height: 16px;
    text-align: right;
    margin: 5px 0;
}

.timebar-legend .legend-gradient {
    width: 100px;
    height: 100%;
    display: inline-block
}

.timebar-legend .legend-label {
    margin: 0 5px;
    vertical-align: text-bottom;
    font-weight: bold;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
    font-weight: normal;
}