.timebar-container {
    padding: 5px;
}
.timebar-container .axis {
    overflow: visible;
    height: 25px;
    position: relative;
    top: -15px;
}
.timebar-container .axis path {
    opacity: 0.5;
}